<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0px;
    }
    .container {
        width: 100%;
        margin: auto;
        padding-bottom: 50px;
    }
    .login-btn{
        background-color: crimson;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
    }
</style>
<body>
    <table class="container">
      <tr>
          <td>
              <table width="600" style="margin: auto;">
                 <tr>
                     <td style="background-color: white; align-items:center;">
                        <p style="color: #000000;font-size:45px; font-weight:bold"> Welcome To HR4U </p>
                     </td>
                 </tr>
               </table>
          </td>
      </tr>
      <tr>
          <td style="padding: 20px;">
            <table width="600" style="margin: auto;">
                <tr>
                    <td>
                       
                        <img src="https://www.lucidchart.com/blog/what-does-hr-do.png" alt="image"/>
                        <h2 style="font-size: 35px;">Hello ,</h2>
                        <p style="color: black;font-size: 30px; margin: 10px 0px;font-weight: 400;">Karibu HR 4 u </p>
                        <p style="color: black;font-size: 20px;Margin: 10px 0px;font-weight: 400; max-width: 500px;">
                        <p>We are happy to have you Join us today.</p>
                        
                        <p> Supervisor will assign you a task with Instructions to complete.</p>
                        
                        <p>
                        Call +0713025513 for more Information</p>
                       
                        </p>
                    </td>
                </tr>
            </table>
        </td>
      </tr>
      <tr>
          <td>
              <table width="600" style="margin: auto;">
                
            </table>
          </td>
      </tr>
    </table>
</body>
</html>